body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/512/Calculator_512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px 1000px;
    font-size: x-large;
}
#operation, #dText0 {
    font-weight: bolder;
    font-size: xx-large;
}
#dImage {
    margin-top: -100px;
    border: solid black;
    border-radius: 5px;
}
#execute {
    border: solid black;
    border-radius: 10px;
    font-size: x-large;
}
#result {
    border: 1px solid rgb(116, 116, 116);
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 100px;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    border: solid black;
    border-radius: 10px;
    border-h
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
